@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
body {
  	height: 100vh;
	display: flex;
	background-color:#D1E0DB;
	/*background-image: url();*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
h1{
	text-align: center;
	margin: 20px;
	color: #0C133B;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
	margin-top:-30px;
}
[class^="webform-component"] {
  display: inline-block;
  margin: 1.5%;
}
.webform-component {
  width: 30%;
}
.webform-component--resource-format {
  width: 30%;
}
label
 {
  color: #0C133B;
  font-variant: "Platino Linotype","Book Antiqua",Platino, serif;
  display: block;
  padding-left: 1em;
  font-size: 20px;
  font-weight:700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
input, select {
  border: 1px white solid;
  border-radius: 10px;
  background-color: #EBF4F1;
  text-indent: 15px;
  width: 100%;
  height: 3em;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-left: 10px;
}
textarea:focus, input:focus{
    outline: none;
}
#btn {
 --color: #0C133B;
 font-family: inherit;
 display: inline-block;
 width: 8em;
 height: 2.6em;
 line-height: 2.5em;
 margin: 30px;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 font-size: 17px;
 border-radius: 10px;
 font-weight: 500;
 color: var(--color);
 margin-left: 35px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 15px;
}

#btn:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

#btn:hover {
 color: #fff;
}

#btn:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

#btn:hover:before {
 top: -30px;
 left: -30px;
}

#btn:active:before {
 background: #0C133B;
 transition: background 0s;
}
#back{
	height: 40px;
	width: 100px;
/*	background-color:white;*/
	border-radius: 30px;
	font-size: 15px;
	color: #0c133b;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 3px 3px 5px black;
}